.square {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.board-row {
  display: flex;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info button {
  width: 150px;
}


@media screen and (max-width: 800px) {
  .game {
    flex-direction: column;
  }
  .game-info ol {
    padding: 0px;
  }
}