.Preview-logo {
  height: 40vmin;
  pointer-events: none;
}

.my-component {
  width: auto;
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .Preview-logo {
    animation: Preview-logo-spin infinite 20s linear;
  }
  .my-component {
    animation: My-Component-Shift infinite 10s linear;
  }
}

.Preview-header {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

.Preview-link {
  color: #61dafb;
}

@keyframes Preview-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes My-Component-Shift {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}