.App {
  height: 100vh;
  text-align: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* overwrite the main defined in index.css */
main {
  flex: 1;
}

.loading {
  font-size: 3em;
  color: var(--text-background);
  margin: auto 0;
}

.sub-page-text {
  color: var(--color-primary);
  cursor: pointer;
}

.main-section {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas: 
    "main-section-nav main-section-content";
  gap: 2%;
}

.main-section-nav {
  width: 100%;
  padding: 10px 10px;
  grid-area: main-section-nav;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--color-header-bg);
  box-shadow: 0 4px 10px var(--color-shadow);
}
.main-section-nav details {
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-top: 10px;
}
.main-section-nav details .details-wrapper {
  display: flex;
  flex-direction: column;
  /* Reset the default padding/margin of <ol> which often offsets the list */
  list-style-position: inside; /* Keeps the list marker (1., 2.) inside the bounds */
}
.main-section-nav details .details-wrapper li {
  /* This ensures any text or content inside the LI aligns to the left */
  width: 100%;
  text-align: left;
  color: var(--color-primary);
  /* Remove default bullet/numbering if desired (optional) */
  list-style: decimal inside; /* Use this if you want to keep the numbering */
}


.main-section-content {
  width: 100%;
  grid-area: main-section-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  background: var(--color-header-bg);
  box-shadow: 0 4px 10px var(--color-shadow);
}

@media screen and (max-width: 800px) {
  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "main-section-nav"
      "main-section-content";
  }
}