.App {
  height: 100vh;
  text-align: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

/* overwrite the main defined in index.css */
main {
  flex: 1;
}

.loading {
  font-size: 3em;
  color: var(--text-background);
  margin: auto 0;
}

.sub-page-text {
  color: var(--color-primary);
  cursor: pointer;
}
.sub-page-text:hover {
  font-weight: bold;
  text-decoration: underline;
}

.main-section {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas: 
    "main-section-nav main-section-content";
  gap: 2%;
}

.main-section-nav {
  width: 100%;
  padding: 10px 10px;
  grid-area: main-section-nav;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--color-header-bg);
  box-shadow: 0 4px 10px var(--color-shadow);
}
.main-section-nav details {
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-top: 10px;
}
.main-section-nav details .details-wrapper {
  display: flex;
  flex-direction: column;
  /* Reset the default padding/margin of <ol> which often offsets the list */
  list-style-position: inside; /* Keeps the list marker (1., 2.) inside the bounds */
}
.main-section-nav details .details-wrapper li {
  /* This ensures any text or content inside the LI aligns to the left */
  width: 100%;
  text-align: left;
  color: var(--color-primary);
  /* Remove default bullet/numbering if desired (optional) */
  list-style: decimal inside; /* Use this if you want to keep the numbering */
}

.main-section-content {
  width: 100%;
  grid-area: main-section-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  background: var(--color-header-bg);
  box-shadow: 0 4px 10px var(--color-shadow);
}

/* assignment 03 - mini single page app style */
.mini-spa-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* assignment 04 - redux shopping cart */
.redux-shopping-cart-container {
    display: flex;
    margin-top: 50px;
}
.redux-shopping-cart-catalog {
  width: 48%;
  margin-right: 4%;
}
.redux-shopping-cart-cart {
  width: 48%;
}


/* --- Fullscreen mode layout --- */
.fullscreen-mode {
    /* height: 100vh; */
    width: 100vw;
    padding: 0;
    margin: 0;
}
.main-section.is-fullscreen-active {
    grid-template-columns: 1fr; 
    grid-template-areas: "main-section-content"; 
    width: 100%;
    /* height: 100vh; */
    gap: 0;
}
/* Hide the site header when fullscreen */
.main-section.is-fullscreen-active .main-section-nav {
    display: none;
}

/* Expand the right side container */
.main-section.is-fullscreen-active .main-section-content {
    width: 100%;
    /* min-height: 100%; */
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
    padding: 0px 0px 80px 0px;
    /* margin-bottom: 160px; */
    overflow-y: auto;
    scrollbar-width: none;
}

/* Fullscreen toggle button */
.fullscreen-toggle {
  position: fixed;
  bottom: 20px;
  right: 30px;

  padding: 10px 16px;
  border-radius: 10px;

  background: var(--color-primary);
  color: var(--color-header-bg);
  border: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 1000;
}
.fullscreen-toggle:hover {
  opacity: 0.5;
  background: var(--color-primary);
}


@media screen and (max-width: 800px) {
  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "main-section-nav"
      "main-section-content";
  }
  .main-section-content {
    padding: 80px 0px;
  }
  .mini-spa-nav {
    justify-content: flex-start;
  }
  .redux-shopping-cart-container {
    flex-direction: column;
  }
  .redux-shopping-cart-catalog {
    width: 100%;
    margin: 0;
  }
  .redux-shopping-cart-cart {
    margin-top: 50px;
    width: 100%;
  }
}