* { 
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  --max-container-width: 1200px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100%;
  max-width: var(--max-container-width);
}

/* preview page style */
@keyframes Preview-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.logo-spin {
    animation: Preview-logo-spin infinite 20s linear;
}